// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap/config/5.2/
// For more information, go to: http://journeymap.info/help/wiki/Options_Manager
{
  "logLevel": "OFF",
  "autoMapPoll": 2000,
  "cacheAnimalsData": 5000,
  "cacheMobsData": 5000,
  "cachePlayerData": 2000,
  "cachePlayersData": 5000,
  "cacheVillagersData": 5000,
  "announceMod": true,
  "checkUpdates": true,
  "recordCacheStats": false,
  "browserPoll": 10000,
  "themeName": "Purist",
  "caveIgnoreGlass": true,
  "mapBathymetry": false,
  "mapTransparency": false,
  "mapCaveLighting": true,
  "mapAntialiasing": false,
  "mapPlantShadows": false,
  "mapPlants": false,
  "mapCrops": false,
  "mapSurfaceAboveCaves": true,
  "renderDistanceCaveMin": 4,
  "renderDistanceCaveMax": 4,
  "renderDistanceSurfaceMin": 8,
  "renderDistanceSurfaceMax": 8,
  "renderDelay": 2,
  "revealShape": "Square",
  "alwaysMapCaves": true,
  "alwaysMapSurface": true,
  "tileHighDisplayQuality": false,
  "maxAnimalsData": 16,
  "maxMobsData": 16,
  "maxPlayersData": 16,
  "maxVillagersData": 16,
  "hideSneakingEntities": true,
  "radarLateralDistance": 32,
  "radarVerticalDistance": 32,
  "tileRenderType": 4,
  "gridSpecs": {
    "day": {
      "style": "Squares",
      "red": 0.5,
      "green": 0.5,
      "blue": 0.5,
      "alpha": 0.5,
      "colorX": -1,
      "colorY": -1
    },
    "night": {
      "style": "Squares",
      "red": 0.5,
      "green": 0.5,
      "blue": 1.0,
      "alpha": 0.3,
      "colorX": -1,
      "colorY": -1
    },
    "underground": {
      "style": "Squares",
      "red": 0.5,
      "green": 0.5,
      "blue": 0.5,
      "alpha": 0.3,
      "colorX": -1,
      "colorY": -1
    }
  },
  "mappingEnabled": true,
  "renderOverlayEventTypeName": "ALL",
  "renderOverlayPreEvent": true,
  "optionsManagerViewed": "5.2.8",
  "splashViewed": "5.2.8",
  "disabled": false,
  "configVersion": {
    "major": 5,
    "minor": 2,
    "micro": 8,
    "patch": ""
  }
}